// @import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Pacifico&display=swap');

$primary-color: #a83a40;
$secondary-color: #e8c204;
$nav-link-color: #fff;

$nav-link-font: 'Delius Swash Caps', cursive;
$title-font: 'Pacifico', cursive;